*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: gray;
    color: orange;
}
.navbar .link{
    color: rgb(252, 252, 251);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

.link.active{
    color: orangered;
}